body { 
    background-color:lightcyan; 
}
nav{
    background-color:burlywood;
    height: 210px;
    widows: 200px;
    display: inline-block;
    vertical-align: top;
    padding: 0%10px;
    padding-top: 0px;
    margin-left: 10px;
    margin-right:-10px;
}
img{
     width: 250px;
     margin: 0%;
     background-color: orchid;
     padding:20px;
     border:50px;

}
h1 {
    color:red; 
    font-size: 14px;
}
h2 { 
    color: blue; 
    font-size: 14px;
}
p{ 
    color: black;
    font-size: 14px;

}